.header_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 50px;
    margin: 30px auto;
    padding: 0 16px;
}

.header_title {
    font-weight: 500;
    font-size: 25px;
}

.header_title span {
    color: #A18A68;
}

.header_flexbox_icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 25%;
}

.header_icons {
    
}

.header_cart{
    display: flex;
    flex-wrap: nowrap;
    gap: 4px;
}