.shopping_container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 97%;
    height: 90vh;
    margin: auto;
    padding: 30px;
    box-shadow: 0 16px 24px 2px rgba(33,37,41,02);
    background-color: white;
}

.shopping__close { 
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
    width: 30px;
    height: 30px;
    background-image: url("../../img/icons/close.png");
    background-repeat: no-repeat;
    background-position: center, center;
    background-size: contain;

}

.shopping_title{
    text-align: center;
    margin: 14px auto;
    background-color: white;
}

.shopping_element {   
    width: 70%;
    padding: 20px;
}

.shopping_element__img {
   width: 50px;
   height: 50px;
}

.shopping_element__name {
    padding: 10px;
    font-weight: 500;
 }

 .shopping_element__price {
    padding: 10px;
    color: #A18A68; 
 }

 @media screen and (min-width: 600px) {
    .products_container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 900px) {
    .products_container {
        grid-template-columns: repeat(3, 1fr);
    }
}